@charset "utf-8";
*{
	margin: auto;
	padding: 0px;
}

body{
	background-color: #99ff66;
	font-family: "Times New Roman", sans-serif;
	font-size: normal;
	text-align: left;
}
	#content{
		width: 900px;
		height: 600px;
		margin-top: 20px;
		background: url("../IMG/profile.jpg") repeat fixed;
		-webkit-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.75);
		color: #ffffcc;
	}
		#left{
			float: left;
			width: 60%;
			height: auto;
			border: 2px double white;
			margin: 10px 5px 5px 10px;
			padding-left: 20px;
		}
			#left p{
				font-size: 20px;
				padding-top: 30px;
			}
		#right{
			float: right;
			width: 32%;
			height: auto;
			border: 2px double white;
			margin: 10px 10px 5px 0px;
			font-size: 18px;
		}
			#right img{
				width: 200px;
				height: 200px;  
				border-radius: 50%;
				margin-left: 50px;
			}
			#right ul{
				list-style: none;
			}
			#right ul li{
				/*padding-top: 10px 0px 0px 5px;*/
				margin-top: 15px;
			}
			#right ul li img{
				width: 50px;
				height: 50px;
				border-radius: 10%;
				float: left;
			}
