.pd{
    padding-top:  25px;
}


.cardset1{
    background-color: #669999;
}

.cardset2{
    background-color: #cc6666;
}

.cardset3{
    background-color: #cc9966;
}

.zoom:hover {
	transform: scale(1.02);
	transition: transform .3s
}


